In [11]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)
myvar.insert(2, "kgs", [65.5, 58.9, 55.4])



print(myvar)

   calories  duration   kgs
0       420        50  65.5
1       380        40  58.9
2       390        45  55.4

In [17]:
s = pd.Series(5, index=['a', 'b', 'c', 'd'])
print(s)

a    5
b    5
c    5
d    5
dtype: int64

In [19]:
print(s['a':'c'])  # Inclou 'c'
print(s[0:2])      # No inclou l'element de la posició 2

a    5
b    5
c    5
dtype: int64
a    5
b    5
dtype: int64

In [21]:
print(s[s > 20])

Series([], dtype: int64)

In [23]:
data = [
    {'columna1': 1, 'columna2': 10},
    {'columna1': 2, 'columna2': 20},
    {'columna1': 3, 'columna2': 30}
]
df = pd.DataFrame(data)
print(df)

   columna1  columna2
0         1        10
1         2        20
2         3        30

In [29]:
#Exercicis amb Series
#Exercici 1: Creació i indexació
#Crea una Series a partir d'una llista de 10 elements.
import pandas as pd
a = [15, 26, 35, 44, 86, 28, 64, 74, 56, 48]

myvar_a = pd.Series(a, index = ["x", "y", "z", "p", "r", "t", "q", "w", "u", "c"])

print(myvar_a[2])

35

In [31]:
#Exercici 2: Operacions aritmètiques
#Crea dues Series de 5 elements cadascuna.
#Suma les dues Series.
#Multiplica la primera Series per 2.
b = pd.Series([45, 36, 8, 19, 24])
d = pd.Series([24, 88, 16, 9, 29])

print(b+d)
print()
print(b*2)

0     69
1    124
2     24
3     28
4     53
dtype: int64

0    90
1    72
2    16
3    38
4    48
dtype: int64

In [37]:
#Exercici 3: Filtrat
#Crea una Series amb valors enters de 0 a 9.
#Filtra i mostra només els elements que són més grans que 5.

f = pd.Series([4, 3, 9, 5, 6, 1, 2])
print(f[f>5])
print()
print(f[f==5])

2    9
4    6
dtype: int64

3    5
dtype: int64

In [7]:
#Exercici 4: Aplicar funcions
#Crea una Series amb 5 valors aleatoris entre 1 i 10.
#Aplica una funció que elevi cada element al quadrat.
import numpy as np
#numeros = [4, 9, 3, 7, 6]
#myvar_g = pd.Series(numeros)
myvar_g = pd.Series([4, 9, 3, 7, 6])
#myvar_g = pd.Series(np.random.randint(1, 11, 5))
print(myvar_g.apply(lambda x: x ** 2))

0    16
1    81
2     9
3    49
4    36
dtype: int64

In [25]:
#Exercicis amb DataFrame
#Exercici 1: Creació i accés a dades
#Crea un DataFrame a partir d'un diccionari de llistes. El diccionari ha de tenir tres claus, cadascuna amb una llista de 5 elements.
#Mostra les primeres 3 files del DataFrame.
#Accedeix a la segona columna del DataFrame.
data = {
    'col1' : ["llista1", 24, 36, 48, 92 ],
    'col2' : ["llista2", 37, 29, 65, 35],
    'col3' : ["llista3", 28, 63, 44, 99]
}

df = pd.DataFrame(data)
print(df.head(3))
print()

#iloc fila columna
print(df.iloc[1, 2])
print()
df.iloc[1,2]
#print(df['col1'])
df["col2"].loc[2]

      col1     col2     col3
0  llista1  llista2  llista3
1       24       37       28
2       36       29       63

28

29

In [22]:
#Exercici 2: Selecció i filtrat
#Crea un DataFrame amb 3 columnes i 6 files, amb valors enters aleatoris entre 1 i 20.
#Selecciona i mostra les files on els valors de la segona columna siguin més grans que 10.
#Selecciona i mostra només les columnes 1 i 3.
data = {
    'col1' : (np.random.randint(1, 21, 3)),
    'col2' : (np.random.randint(1, 21, 3)),
    'col3' : (np.random.randint(1, 21, 3))
}

df = pd.DataFrame(data)
df.columns = ['A', 'B', 'C']

#print(df)
#print()
#print(df['A'])

#Reset_index() investigar
df['B'][df['B'] > 5].reset_index(name="Albert")

#df['B filtrado'] = np.where(df['B'] >10)


#mayor = np.where((df['B']) > 10)
#mayor
#print(df.iloc[[1, 3]])

   index  Albert
0      1       6

In [35]:
#Exercici 3: Afegir i eliminar columnes
#Afegeix una nova columna al DataFrame anterior que sigui la suma de les altres dues columnes.
#Elimina una de les columnes originals.
df["D"] = df["A"] + df["B"] + df["C"]

df

df = df.drop("B", axis = 1)

df

   A  C   D
0  2  2   7
1  5  8  19
2  3  8  15

In [39]:
#Exercici 4: Agrupar i agregar
#Crea un DataFrame amb dues columnes: una amb noms de categories (com 'A', 'B', 'C') i una altra amb valors enters.
#Agrupa el DataFrame per la columna de categories i calcula la suma dels valors per a cada categoria.
data = {
    'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Values': [1, 2, 3, 4, 5, 6]
}
df = pd.DataFrame(data)

grouped = df.groupby("Category").sum()
grouped

          Values
Category
A              3
B              7
C             11

In [43]:
grouped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Values  3 non-null      int64
dtypes: int64(1)
memory usage: 48.0+ bytes

In [45]:
grouped.dtypes

Values    int64
dtype: object